# Godot 4+ specific ignores
.godot/
/android/
.DS_Store
build/android/*.apk
build/android/*.aab
build/android/*.idsig
build/android/*.import
build/android/gradle_build/
build/android/keystores/*.keystore
build/android/keystores/*.jks
!build/android/keystores/.gitkeep
build/linux/
